<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<% extend ERB::Util %>
		<meta http-equiv="Content-Type" content="text/html; charset=<%=@options.charset%>">
		<meta http-equiv="Content-Style-Type" content="text/css">
		<meta http-equiv="Content-Script-Type" content="text/javascript">

		
		<link rel="stylesheet" type="text/css" href="<%=values["style_url"]%>" media="screen,tv"/>

		<!-- <script type="text/javascript" src="/site-script.js"></script> -->
		<title><%=values["title"]%></title>
	</head>
	<body>
		<div id="whole">
			<h1 id="top"><a href=""><%=values["title"]%></a></h1>

			<div id="content">
				<%
				readme = @files.find {|i| File.basename(i.name) =~ /README/i }
				if readme
					r = readme.value_hash
				%>
				<div class="readme">
					<div class="readme-information">
						<p class="shot-name">
						<%=r["short_name"]%>
						</p>

						<dl>
							<dt>Full Path:</dt>
							<dd class="full-path-url">
							<a href="<%=readme.path%>"><%=r["full_path"]%></a>
							</dd>
						</dl>
					</div>
					<%=r["description"]%>
				</div>
				<% end %>
				<div class="index-classes">
					<h2>Classes/Modules</h2>
					<% @classes.sort.each do |c| 
						next unless c.document_self
						next if c.name.empty?
						cv = c.value_hash
						constants = cv["sections"].inject([]) {|r,i|
							r.concat(i["constants"].map {|j| j["name"]}) if i["constants"]
							r
						}
					%>
						<% if cv["methods"] || !constants.empty? %>
						<div class="class">
							<h3><a href="<%="#{c.path}"%>"><%= c.name %></a></h3>
							<% unless constants.empty? %>
							<ul>
								<% constants.each do |m| %>
								<li><%=h m%></li>
								<% end %>
							</ul>
							<% end %>
							<% if cv["methods"] %>
							<ul>
								<% cv["methods"].sort_by{|i| i["name"]}.each do |m| %>
								<li><a href="<%="#{c.path}#{m["aref"]}"%>"><%=m["name"]%></a></li>
								<% end %>
							</ul>
							<% end %>
						</div>
						<% end %>
					<% end %>
				</div>
				<div class="index-files">
					<h2>Files</h2>
					<ul>
						<% @files.sort.each do |f| 
							next unless f.document_self
							fv = f.value_hash
						%>
						<li><a href="<%=h f.path%>"><%=h f.name%></a></li>
						<% end %>
					</ul>
				</div>
			</div>

			<div id="footer">
				<p class="footer-links"><a href="#top">Top^</a></p>
				<p>Created at: <%=require "time"; Time.now.xmlschema %></p>
				<p>
					Powerd by
					<span class="ruby-r">R</span>Doc
					(
					template: <a href="http://coderepos.org/share/wiki/Resh">Resh</a>
					)
					/
					<span class="ruby-r">R</span>uby /
					ruby<%=RUBY_VERSION%>
				</p>
			</div>
		</div>
	</body>
</html>
